{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}  {# Automatycznie renderuje wszystkie pola i błędy #}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
